body {
  text-align: left;
  background-color: #03045e;
  color:white;
  font-family: monospace;
  font-size: 1.5rem;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}