.actionButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.addButton {
    margin-left: 100px;
}

.editButton {
    margin-left: 100px;
}

.trashButton {
    margin-right: 100px;
}





h5 {
    text-align: center;
}